@model IEnumerable<ProyectoTiempos.Models.DetalleApuesta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apuesta.IdApuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdNumeros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Apuesta.IdApuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdNumeros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDetalleApuesta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDetalleApuesta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDetalleApuesta })
        </td>
    </tr>
}

</table>
