@model IEnumerable<ProyectoTiempos.Models.Sorteo>

@{
    ViewBag.Title = "Index";
}

<h3>Sorteos</h3>

<p>
    @Html.ActionLink("Crear", "Create", new { controller = "Sorteos" }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroSorteo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroSorteo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.FechaInicio.ToShortDateString())*@
            @item.FechaInicio.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFinal)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.FechaIFinal.ToShortDateString())*@
            @item.FechaIFinal.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdSorteo }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Detalles", "Details", new { id=item.IdSorteo }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Borrar", "Delete", new { id=item.IdSorteo }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
